esphome:
  name: DFPLAYER
  friendly_name: DFPLAYER

esp8266:
  board: esp01_1m

# Enable Home Assistant API
api:
  encryption:
    key: "xxxxxxxxxxxxxxxxxxxx"

ota:
  - platform: esphome
    password: "xxxxxxxxxxxxxxxxxxxx"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Fallback hotspot
  ap:
    ssid: "DFPLAYER Fallback Hotspot"
    password: "xxxxxxxxxxxx"

captive_portal:

logger:
  baud_rate: 0

web_server:
  port: 80

# UART (for DFPlayer)
uart:
  id: uart_mp3
  tx_pin: TX
  rx_pin: RX
  baud_rate: 9600

# DFPlayer
dfplayer:
  uart_id: uart_mp3
  id: mp3_player

# Volume initialization
script:
  - id: init_volume
    then:
      - dfplayer.set_volume:
          volume: 20

# Buttons for Home Assistant
button:
  - platform: template
    name: "Play MP3 #1"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 1
  - platform: template
    name: "Play MP3 #2"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 2
  - platform: template
    name: "Play MP3 #3"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 3
  - platform: template
    name: "Play MP3 #4"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 4
  - platform: template
    name: "Play MP3 #5"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 5
  - platform: template
    name: "Play MP3 #6"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 6
  - platform: template
    name: "Play MP3 #7"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 7
  - platform: template
    name: "Play MP3 #8"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 8
  - platform: template
    name: "Play MP3 #9"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 9
  - platform: template
    name: "Play MP3 #10"
    on_press:
      then:
        - dfplayer.play_mp3:
            file: 10
  - platform: template
    name: "Stop"
    on_press:
      then:
        - dfplayer.stop
  - platform: template
    name: "Next"
    on_press:
      then:
        - dfplayer.play_next
  - platform: template
    name: "Previous"
    on_press:
      then:
        - dfplayer.play_previous
  - platform: template
    name: "Break"
    on_press:
      then:
        - dfplayer.pause
  - platform: template
    name: "Resume"
    on_press:
      then:
        - dfplayer.start  # resumes after break

# Volume slider
number:
  - platform: template
    name: "MP3 Volume"
    min_value: 0
    max_value: 30
    step: 1
    initial_value: 20
    set_action:
      then:
        - dfplayer.set_volume:
            volume: !lambda 'return x;'

